[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Whaaw! Thumbnailer
Type=X-Thumbnailer
MimeType=application/ogg;application/ram;application/vnd.rn-realmedia;application/x-extension-m4a;application/x-extension-mp4;application/x-flash-video;application/x-matroska;application/x-ogg;application/x-quicktime-media-link;application/x-quicktimeplayer;application/x-shockwave-flash;application/x-shorten;application/x-smil;application/xspf+xml;audio/3gpp;video/3gpp;video/dv;video/fli;video/flv;video/x-flv;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/quicktime;video/vivo;video/vnd.divx;video/vnd.rn-realvideo;video/vnd.vivo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flic;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-ms-asf;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvx;video/x-nsv;video/x-ogm+ogg;video/x-theora+ogg;video/ogg;
X-Thumbnailer-Exec=whaaw-thumbnailer -s %s -o %o %i
